<a href="https://colab.research.google.com/github/uirom/practice/blob/main/%ED%86%B5%EA%B3%84%EC%B2%AD%5B%EB%B2%95%EB%AC%B4%EB%B6%80_%EC%9C%A0%ED%95%99%EC%83%9D%EA%B4%80%EB%A6%AC%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/넘파이, 통계청/법무부_유학생관리_20221231.csv",encoding='utf-8')

# 가장 많은 유학생이 있는 학교

In [4]:
df['학교명'].value_counts().reset_index().iloc[0,0]

'한양대학교'

# 유학생, 성별, 체류자격이 가장 많은 **나라**

In [5]:
df['국적명'].value_counts().reset_index().iloc[0,0]

'베트남'

In [6]:
df['성별'].value_counts()

여    105420
남     88939
Name: 성별, dtype: int64

In [7]:
df['체류자격'].value_counts()

학사과정            66319
대학부설 어학원 연수     63131
석사과정            27583
박사과정            18063
전문학사과정           9774
교환학생             9240
학술연구기관 특정연구자      222
외국어연수생             26
(구)교환학생             1
Name: 체류자격, dtype: int64

# 체류자격의 (구)교환학생을 교환학생과 합치기

In [40]:
def ff(x):
  if x=='(구)교환학생':
    return '교환학생'
  else:
    return x

df['체류자격'] = df['체류자격'].apply(ff)

8

In [42]:
df['체류자격'].value_counts()

학사과정            66319
대학부설 어학원 연수     63131
석사과정            27583
박사과정            18063
전문학사과정           9774
교환학생             9241
학술연구기관 특정연구자      222
외국어연수생             26
Name: 체류자격, dtype: int64

# 체류자격에서 학사과정인 사람들만 뽑아서 그 국적이 네팔인 사람들 수 세기

In [46]:
dd = df.loc[df['체류자격']=='학사과정']
dd.loc[dd['국적명']=='네팔'].shape[0]

1624